@{
    ViewData["title"] = "Hakkımda";
}

<article class="flex flex-col shadow my-4">
    <!-- Article Image -->
    <a href="#" class="hover:opacity-75">
        <img src="https://images.unsplash.com/photo-1719255417989-b6858e87359e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    </a>
    <div class="bg-white flex flex-col justify-start p-6">
        <h1 class="text-3xl font-bold pb-3">Hakkımda</h1>

        <p class="pb-3">
            Merhaba, ben Muhammet Coşkun. 23 yaşındayım ve Acunmedia'da Backend Uzmanlık Eğitimi alıyorum. Yazılım dünyasıyla tanışmam, teknolojiye olan derin ilgim ve problem çözme konusundaki tutkum sayesinde şekillendi. Her geçen gün, bu dinamik ve sürekli gelişen alanda kendimi daha da geliştirmek için büyük bir heyecan duyuyorum.
            Küçük yaşlardan itibaren teknolojiye olan merakım, beni sürekli olarak yeni şeyler öğrenmeye ve keşfetmeye yönlendirdi. Yazılım dünyasında karşılaştığım her problem, benim için bir öğrenme fırsatıdır. Detaylara olan dikkatim ve analitik düşünme yeteneğim, karmaşık sistemleri anlamak ve çözüm üretmekte bana büyük avantaj sağladı. Bu özelliklerim, beni backend geliştirme alanında derinlemesine bilgi edinmeye ve bu bilgiyi uygulamaya yönlendirdi.
            Acunmedia'daki eğitimim, teknik bilgi ve becerilerimi pekiştirmeme olanak tanırken, aynı zamanda bana endüstri standartlarına uygun pratik deneyimler kazandırdı. Backend geliştirme konusunda, veri tabanı yönetimi, API tasarımı ve mikroservis mimarileri gibi konularda derinlemesine bilgi sahibi oldum. Bu eğitim sürecinde kazandığım deneyimler ve elde ettiğim yetkinlikler, problem çözme yeteneğimi daha da güçlendirdi.
            Teknolojiye olan tutkum, her gün kendimi yeni araçlar, diller ve teknolojiler öğrenmeye adım atmamı sağlıyor. Sürekli olarak yeni projeler üzerinde çalışmak, yeni teknolojilere hakim olmak ve mevcut bilgimi daha da derinleştirmek benim için büyük bir motivasyon kaynağı.
            Gelecekte, yazılım dünyasında daha da ileri gitmeyi, büyük ölçekli projelere katkıda bulunmayı ve yaratıcı çözümler geliştirmeyi hedefliyorum. Her yeni proje ve öğrenme fırsatı, benim için sadece bir görev değil, aynı zamanda kendimi ifade etme ve geliştirme fırsatıdır.
            Beni daha yakından tanımak ve projelerim hakkında bilgi almak isterseniz, iletişime geçmekten çekinmeyin. Teknolojinin sınırlarını zorlamak ve bu alandaki potansiyelimi en üst düzeye çıkarmak için sabırsızlanıyorum.
        </p>
        

        

    </div>
</article>