@model List<Post>

@{
    ViewData["title"] = "Anasayfa";
}

@* <h1>@ViewData["title"]</h1> *@

@foreach(var postItem in Model)
{
    <article class="flex flex-col shadow my-4">
        <!-- Article Image -->
        <a href="#" class="hover:opacity-75">
            <img src="https://images.unsplash.com/photo-1719255417989-b6858e87359e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        </a>
        <div class="bg-white flex flex-col justify-start p-6">
            @* <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</a> *@
            <a href="/home/detay/@postItem.Id" class="text-3xl font-bold hover:text-gray-700 pb-4">@postItem.Title</a>
            <a href="/home/detay/@postItem.Id" class="pb-6">@postItem.Summary</a>
            <a href="/home/detay/@postItem.Id" class="uppercase text-gray-800 hover:text-black">Devamını Oku <i class="fas fa-arrow-right"></i></a>
        </div>
    </article>
}
